body {
    background-color: gray;
}

.card {
    margin-top: 50px;
}

.card-with-semi-border {
    /* Won't work because we have white opaque as background for border --> */
    border: 10px solid hsla(0, 0%, 100%, .5);
    background: white;
    /* Needs the clip */
    background-clip: padding-box;
}

.card-with-shadow-spread {
    background: coral;
    box-shadow: 0 0 0 10px #655, 0 0 0 15px deeppink;
}

.card-with-outline {
    background: tomato;
    border: 10px solid #5473c4;
}